.nav_bar{
    background-color:  #4196E9;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    .nav_bar_logo{
        padding-left:  20px ;
        margin-top: 20px;
        img{
            margin: 10px;
            width: 100px;
        }
    }
    .nav_bar_sign{
        margin: 0 20px;
        display: flex;
        .G-btn{
            margin: 5px;
            color: #ffffff;
            background-color: #308720;
            border: none;
            border-radius: 30px;
             border-width: 1px;
             display: inline-block;
             font-size: 14px;
             font-weight: 600;
              line-height: 17px;
             min-width: 120px;
             padding: 13px 20px;
             text-align: center;
            transition: all .3s;
        }
    }
}