.dashboard {
    min-height: 100vh;
    width: 100%;
    .dashboard_admin_info{
        align-items: center;
        justify-content: flex-end;
        display: flex;
        font-size: 20px;
        color: aliceblue;
        svg{
            font-size: 30px;
            margin: 10px;
        }
        h1{
            margin: 10px;
        }
    }
    .dashboard_main{
        display: flex;
        .main_one{
            h1{
                margin: 15px 0;
                color: aliceblue;
                font-size: 20px;
            }
        }
        .main_two{
            display: flex;
            flex-wrap: wrap;
        }
            
    }
}
.dashboard::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../public/BgAdmin.avif') #000;
    background-position: center;
    background-size: cover;
    z-index: -1;
}